.rc-time-picker-input {
  outline: none;
  border: none;
  max-width: 55px;
  font-size: 16px;
  color: blue;
  font-family: AvenirNext-Reg;
}

.rc-time-picker-panel {
  max-width: 170px;
}

.rc-time-picker-panel-input {
  font-family: AvenirNext-Reg;
}

.rc-time-picker-panel-select li {
  font-family: AvenirNext-Reg;
}
